@{
    ViewData["Title"] = "Inicio";
}

<h2 class="mb-4">Actividades</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Actividad</th>
                <th>Capacidad</th>
                <th>Fecha de Inscripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Actividades != null)
            {
                foreach (var actividad in ViewBag.Actividades)
                {
                    <tr>
                        <td>@actividad.Nombre</td>
                        <td>@actividad.Capacidad cupos</td>
                        <td><input type="date" class="form-control" name="fechaInscripcion" /></td>
                        <td><button class="btn btn-primary">Inscribirse</button></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No hay actividades disponibles.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2 class="mt-5">Eventos propios</h2>
<a class="btn btn-success mb-4" asp-action="CrearEvento" asp-controller="Evento">Crear Evento</a>

<h2>Eventos del Club</h2>
